body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 3;
    color: #afcecf;
    text-align: left;
    background-color: black;
}
.card-img-top {
    width: 100%;
    height:50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-title{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: darkcyan;
}
.card-text{
    font-family:fantasy
    padding: 1px;
    font-size:18px;
    color:2AB63A;
}
.card{
    background-color: black;
}
.dropdown-item{
    background-color: black;
    color: aqua;
}